.main_reset {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.reset {
  width: 200px;
  height: 30px;
  background-color: rgb(20, 19, 19);
  border: 1px solid black;
  color: white;
  font-weight: bold;
}
.reset_btn {
  width: 100px;
  height: 34px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}
